@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");

html {
  @apply h-full min-h-[700px] w-full min-w-full overflow-auto;
  font-family: "Pretendard";
}

body {
  @apply h-full w-full;
}

#root {
  @apply h-full w-full;
}

input,
textarea {
  &:focus,
  &:active {
    outline: unset !important;
  }
}

textarea {
  resize: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
